<header class="header" [class.toolbar-small]="scrollPosition > 714">
  <div class="container" [ngClass]="{'toolbar-scroll': scrollPosition > 714}">
        <div class="logo">
        <!--menu-bar-->
        <div class="menu-bar no-select" (click)="onToggleSidenav()">
            <span><i class="fa fa-bars"></i></span>
        </div>
        <div>
            <a routerLink="/" style="text-decoration: none">
            <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Goodreads_logo.svg/1280px-Goodreads_logo.svg.png" alt="Orajon">
            </a>
        </div>
        </div> <!-- END LOGO -->

        <div class="search" (click)="onClickSearchArea($event)">
          <!--menu-->
          <div class="menu-area">
            <ul>
              <li *ngFor="let item of navItems">
                 <a  [routerLink]="item.categorySlug">{{item.categoryName}}</a>
              </li>
            </ul>
          </div>
        </div> <!-- END SEARCH -->
        
    <!---header-right-area-->
    <div class="header-right">

        <!--header-right-responsive-->
        <div class="header-right-responsive">
          <ul>
            <li><a routerLink="/login"><i class="fas fa-user-circle"></i> <span>
              {{isUserAuth ? 'My Account' : 'Log In / Sign Up'}}
            </span></a></li>
            <li><a routerLink="/cart" (click)="cartSlideActive()"><i class="fa fa-shopping-cart"></i> <span>Cart(0)</span></a></li>
          </ul>
        </div>
  
        <!---header-right-->
        <div class="header-right-main">
          <ul>
            <li><a routerLink="/login"><i class="fas fa-user-circle"></i> <span>
              {{isUserAuth ? 'My Account' : 'Log In / Sign Up'}}
            </span></a></li>
            <!-- <li>{{carts | json}}</li> -->
            <li><a href="/cart" (click)="cartSlideActive()"><i class="fa fa-shopping-cart"></i> <span>Cart({{carts.length}})</span></a></li>
          </ul>
  
        </div>
  
      </div>
    </div>
</header>